In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os

In [3]:
direct_path = os.getcwd()
file_path = os.path.join(direct_path,'valenbisi-disponibilitat-valenbisi-dsiponibilidad.csv')

In [36]:
valen_df= pd.read_csv(file_path , delimiter=';')

In [37]:
valen_df.head()

,gid,name,number_,address,open,available,free,total,ticket,updated_at,globalid,created_user,created_date,last_edited_user,last_edited_date,geo_shape,geo_point_2d
0,901618,38_AVDA. PERIS Y VALERO,38,Peris y Valero - Cabo Jubi,T,0,20,20,F,19/05/2023 09:49:50,{76A36858-7C93-4958-8A8B-22280B953817},NaN,NaN,NaN,NaN,"{""coordinates"": [-0.37024937736936264, 39.4594...","39.45940204927687, -0.37024937736936264"
1,901645,065_AVDA. DEL PUERTO III,65,Av. Puerto - Doctor Manuel Candela,T,2,17,19,T,19/05/2023 09:49:50,{77CDBBB8-91C3-4EA5-A8CE-4DC7580DC298},NaN,NaN,NaN,NaN,"{""coordinates"": [-0.3508373061951808, 39.46551...","39.465516292011046, -0.3508373061951808"
2,901655,075_CAMPOAMOR I,75,República Argentina - Campoamor,T,2,23,25,T,19/05/2023 09:49:50,{548DA05A-0276-44F7-A768-67141D337E92},NaN,NaN,NaN,NaN,"{""coordinates"": [-0.35170130420295115, 39.4721...","39.472113313853896, -0.35170130420295115"
3,901654,074_PLAZA SAN FELIPE NERI,74,Plaza San Felipe Neri (Mercado Algirós),T,7,13,20,T,19/05/2023 09:49:50,{6B75FABC-32A6-48AD-9158-2967CA2B1201},NaN,NaN,NaN,NaN,"{""coordinates"": [-0.3537343124957471, 39.46994...","39.469949307546806, -0.3537343124957471"
4,901653,073_JERONIMO MONSORIU,73,Jerónimo Monsoriu - Industria,T,12,7,20,T,19/05/2023 09:49:50,{AB361942-8C5E-4775-964A-F571C46F2DB4},NaN,NaN,NaN,NaN,"{""coordinates"": [-0.3428792786496773, 39.46625...","39.4662592905475, -0.3428792786496773"

In [38]:
valen_df.describe(include= 'all')

,gid,name,number_,address,open,available,free,total,ticket,updated_at,globalid,created_user,created_date,last_edited_user,last_edited_date,geo_shape,geo_point_2d
count,276.000000,276,276.000000,276,276,276.000000,276.000000,276.000000,276,276,276,0.0,0.0,0.0,0.0,276,276
unique,NaN,276,NaN,276,2,NaN,NaN,NaN,2,1,276,NaN,NaN,NaN,NaN,276,276
top,NaN,38_AVDA. PERIS Y VALERO,NaN,Peris y Valero - Cabo Jubi,T,NaN,NaN,NaN,T,19/05/2023 09:49:50,{76A36858-7C93-4958-8A8B-22280B953817},NaN,NaN,NaN,NaN,"{""coordinates"": [-0.37024937736936264, 39.4594...","39.45940204927687, -0.37024937736936264"
freq,NaN,1,NaN,1,275,NaN,NaN,NaN,139,276,1,NaN,NaN,NaN,NaN,1,1
mean,901718.500000,NaN,138.500000,NaN,NaN,8.438406,11.246377,19.818841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,79.818544,NaN,79.818544,NaN,NaN,6.057288,6.078650,5.482847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,901581.000000,NaN,1.000000,NaN,NaN,0.000000,0.000000,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,901649.750000,NaN,69.750000,NaN,NaN,4.000000,7.000000,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,901718.500000,NaN,138.500000,NaN,NaN,8.000000,11.000000,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,901787.250000,NaN,207.250000,NaN,NaN,12.000000,15.000000,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,901856.000000,NaN,276.000000,NaN,NaN,38.000000,32.000000,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
valen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gid               276 non-null    int64
 1   name              276 non-null    object
 2   number_           276 non-null    int64
 3   address           276 non-null    object
 4   open              276 non-null    object
 5   available         276 non-null    int64
 6   free              276 non-null    int64
 7   total             276 non-null    int64
 8   ticket            276 non-null    object
 9   updated_at        276 non-null    object
 10  globalid          276 non-null    object
 11  created_user      0 non-null      float64
 12  created_date      0 non-null      float64
 13  last_edited_user  0 non-null      float64
 14  last_edited_date  0 non-null      float64
 15  geo_shape         276 non-null    object
 16  geo_point_2d      276 non-null    object
dtypes: float64(4), int64(5), object(8)
memory usage: 36.8+ KB

In [40]:
def drop_cols(data,cols):    
    data= data.drop(columns=cols )
    return data

In [41]:
columnas=['created_user','created_date','last_edited_user','last_edited_date']

valen_df= drop_cols(valen_df, columnas)

valen_df.head()

,gid,name,number_,address,open,available,free,total,ticket,updated_at,globalid,geo_shape,geo_point_2d
0,901618,38_AVDA. PERIS Y VALERO,38,Peris y Valero - Cabo Jubi,T,0,20,20,F,19/05/2023 09:49:50,{76A36858-7C93-4958-8A8B-22280B953817},"{""coordinates"": [-0.37024937736936264, 39.4594...","39.45940204927687, -0.37024937736936264"
1,901645,065_AVDA. DEL PUERTO III,65,Av. Puerto - Doctor Manuel Candela,T,2,17,19,T,19/05/2023 09:49:50,{77CDBBB8-91C3-4EA5-A8CE-4DC7580DC298},"{""coordinates"": [-0.3508373061951808, 39.46551...","39.465516292011046, -0.3508373061951808"
2,901655,075_CAMPOAMOR I,75,República Argentina - Campoamor,T,2,23,25,T,19/05/2023 09:49:50,{548DA05A-0276-44F7-A768-67141D337E92},"{""coordinates"": [-0.35170130420295115, 39.4721...","39.472113313853896, -0.35170130420295115"
3,901654,074_PLAZA SAN FELIPE NERI,74,Plaza San Felipe Neri (Mercado Algirós),T,7,13,20,T,19/05/2023 09:49:50,{6B75FABC-32A6-48AD-9158-2967CA2B1201},"{""coordinates"": [-0.3537343124957471, 39.46994...","39.469949307546806, -0.3537343124957471"
4,901653,073_JERONIMO MONSORIU,73,Jerónimo Monsoriu - Industria,T,12,7,20,T,19/05/2023 09:49:50,{AB361942-8C5E-4775-964A-F571C46F2DB4},"{""coordinates"": [-0.3428792786496773, 39.46625...","39.4662592905475, -0.3428792786496773"

In [57]:
estaciones= valen_df['updated_at'].unique()
print(sorted(estaciones))

['19/05/2023 09:49:50']