In [ ]:
#Frecuencia de pares. Diseña una función dpar(M), en que, dada una lista M de números enteros
#positivos, devuelva un diccionario donde se muestre la frecuencia de aparición de los números
#pares de M.

In [ ]:
def dpar(M):
  dpar={}
  lpar=[]
  for v in M:
    if v%2==0:
      lpar.append(v)
  print(lpar)
  dpar = {i:lpar.count(i) for i in lpar}
  return dpar

In [ ]:
M = [12, 19, 19, 18, 18, 16, 18, 13, 19, 18, 12, 18, 11, 20, 14,\
14, 20, 20, 20, 16, 13, 15, 19, 14, 12]
dpar(M)

[12, 18, 18, 16, 18, 18, 12, 18, 20, 14, 14, 20, 20, 20, 16, 14, 12]

{12: 3, 18: 5, 16: 2, 20: 4, 14: 3}

In [ ]:
#Temperaturas ciudades. Se tienen las temperaturas de ciudades durante los primeros 4 meses
#del año en una lista de listas, donde cada lista representa la información de una ciudad (nombre y
#luego las temperaturas). Diseña una función TempMaxMin(lst) en que, dada una lista de listas
#como que la que se presenta, devuelva un diccionario con los nombres de las ciudades como claves
#y como valores una lista con las temperaturas máxima y mínima.

In [ ]:
def TempMaxMin(lst):
  
  temp_l=[]
  city_l=[] 


  for i in lst:
   city_l.append(i[0])
   temp_l.append(i[1:])
  
  max_min=[]
  tmax=0
  tmin=0
  for item in temp_l:
    tmax = max(item)
    tmin= min(item)
    max_min.append([tmax,tmin])
  print(max_min)

  temps = {}
  pos=0
  for i in city_l:
    temps[city_l[pos]]=max_min[pos]
    pos+=1
  return temps

In [ ]:
lst_ciudad = [['Londres', 3.4, 6.3, 10.5, 6.8], ['Oslo', -3.8, -5.0, 5.1, 4.2],
['Berlin', 7.5, 4.1, 12.3, 13.0], ['Málaga', 14.7, 12.3, 19.5, 18.4]]
TempMaxMin(lst_ciudad)

[[10.5, 3.4], [5.1, -5.0], [13.0, 4.1], [19.5, 12.3]]

{'Londres': [10.5, 3.4],
 'Oslo': [5.1, -5.0],
 'Berlin': [13.0, 4.1],
 'Málaga': [19.5, 12.3]}

In [ ]:
#Se dispone de dos diccionarios. En uno de ellos (ej. dPersC) se guardan, 
#como claves, nombres de personas y como valores los nombres de las ciudades donde residen; y 
#en el otro (ej. dCiudT) se guardan, como claves, nombres de ciudades y como valores las 
#respectivas temperaturas de esas ciudades (en ºC), medidas el día de la primera nevada del año.
#Diseña una función PersMayTemp(dPersC, dCiudT) en que, dados dos diccionarios como los 
#descritos, devuelva una lista con los nombres de las personas que residen en ciudades en las cuales 
#la temperatura estuvo por debajo de 0ºC el día de esa primera nevada de este año. La lista 
#resultante debe estar ordenada alfabéticamente. En caso de no haber ciudades con temperaturas 
#bajo cero, se devolverá la lista vacía. 
#Nota: se considera que toda ciudad del diccionario dPersC está en dCiudT

In [ ]:
def PersMayTemp(dPe, dCi):
  citydels=[]
  namedels=[]
  for k,v in dCi.items():
    if v>0:
      citydels.append(k)       #Sacar lista de ciudades con t positivas
  
  for city in citydels:
    del dCi[city]               #borrar claves del diccionario positivas
  

  for k,v in dPe.items():
    if v in citydels:          #si los valores de DPi estan el la lista de ciudades a borrar, sacar los nombres
      namedels.append(k)

  for name in namedels:
      del dPe[name]            #borrar los nombres que no queremos
  
  #print(dCi)
  #print(dPe)

  nombres= list(dPe.keys())
  nombres.sort()
  
  #keys=list(dPe.keys())
  #values=list(dCi.values())
  #d={}
  #for i in range(len(keys)):
  #  d[keys[i]]=values[i]

  #print(d)
  return nombres

In [ ]:
dCi = {'Manchester': 1.1, 'Madrid': -8.9, 'Gava': 4, \
 'Pobla de Segur': -5.6, 'Lleida': -3.2, 'Elche': 2.1, \
 'Burgos': -6.0, 'Sant Boi': 4.5}
dPe = {'Pepe': 'Manchester', 'Lionel': 'Gava', 'Mike': 'Sant Boi', \
 'Puyol': 'Pobla de Segur', 'Jaime': 'Elche', 'Sergi': 'Lleida',\
 'Ernesto': 'Madrid', 'Carlos': 'Burgos'}
PersMayTemp(dPe, dCi)

{'Puyol': -8.9, 'Sergi': -5.6, 'Ernesto': -3.2, 'Carlos': -6.0}

In [ ]:
#Se dispone de un diccionario de personas con su presión arterial. En cada elemento 
#del diccionario la clave es el nombre de la persona y el valor es una lista con la edad y las presiones 
#sistólica (alta) y diastólica (baja). Si consideramos que una persona sufre de hipertensión si la 
#presión sistólica es mayor o igual a 140 mmHg o la diastólica es mayor o igual a 90 mmHg, diseña 
#una función lst_hiper(dic, edad) en que, dado un diccionario dic como el descrito y una edad, 
#devuelva la lista de los nombres de las personas menores de esa edad que sufren hipertensión 
#arterial.

In [ ]:
def lst_hiper(dicc, edad):

  hiper = dict()                         #diccionario de personas con hipertension

  for k, v in dicc.items():
    if v[1]>=140 or v[2]>=90 and v[0]<edad:  #si cumplen las condiciones añado el par de valores al nuevo dicc
      hiper[k]=v
  #print(hiper)

  nombres=list(hiper.keys())
  nombres.sort()                        # hago una lista con los nombres de las personas
  return nombres

In [ ]:
dpers = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], \
 'Jose': [47, 110, 59], 'Luis': [49, 146, 94], \
 'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], \
 'Pepe': [70, 130, 92] }
l=lst_hiper(dpers, 70)

print(l)

['Luis', 'Maria', 'Nuria']

In [ ]:
#Nivel de potasio en sangre. Se tiene un diccionario con los valores de concentración de potasio 
#en sangre ([K+]) de un grupo pacientes medidos antes de entrar a terapia de hemodiálisis. La clave 
#es el nombre del paciente y el valor es la [K+] (en mmol/L). Además, se tiene una lista del tipo 
#[valor1, valor2, valor3, valor4] con los distintos valores que clasifican la condición clínica en que 
#están los pacientes, de acuerdo a las concentraciones de potasio en sangre ([K+]). Estos valores 
#dependen del tipo de población (niños, adultos, etc.). 
#La condición clínica del paciente sigue el siguiente criterio de clasificación: 
#- Si el valor de [K+] es menor que valor1 indica 'hipokalemia crítica', 
#- si es mayor o igual al valor1 y menor que el valor2 sería 'hipokalemia leve',
#- si está entre valor2 y valor3 (ambos inclusive) indica 'normal', 
#- si es mayor que valor3 y menor o igual que valor4 es 'hiperkalemia moderada'
#- y valores mayores que valor4 sería 'hiperkalemia severa'. 
#Ejemplo de una lista con elementos [valor1, valor2, valor3, valor4] para un adulto de mediana edad: 
#[2.0, 3.5, 5.2, 7.0]
#Diseña una función nivelKsang(dK, lst) en que, dado un diccionario dK que tiene como clave el 
#nombre de un paciente y como valor su nivel de [K+] en sangre, y una lista lst con 4 valores de 
#clasificación, como los descritos, devuelva un diccionario que tenga como claves los nombres de los 
#pacientes y como valores su clasificación, de acuerdo a los niveles de [K+] en sangre.

In [ ]:
def nivelKsang(dK1, ls1):
  for k,v in dK1.items():
    #vk=dK1[k]
    if v<ls1[0]:
      dK1[k]='hipokalemia critica'
    elif v>= ls1[0] and v<ls1[1]:
      dK1[k]='hipokalemia leve'
    elif v>= ls1[1] and v<= ls1[2]:
      dK1[k]='Normal'
    elif v > ls1[2] and v<= ls1[3]:
      dK1[k] = 'hiperkalemia moderada'
    elif v> ls1[3]:
      dK1[k]='hiperkalemia severa'
    else:
      print('VALORES NO VALIDOS')
  return dK1

In [ ]:
dK1 = {'Luis': 2.2, 'Carlos': 7.0, 'Laia': 4.0, 'Mikel': 5.5, \
 'Jordi': 5.2, 'Anna': 3.6, 'Joe': 7.2}
ls1 = [2.0, 3.5, 5.2, 7.0]

dic= nivelKsang(dK1, ls1)
print(dic)

{'Luis': 'hipokalemia leve', 'Carlos': 'hiperkalemia moderada', 'Laia': 'Normal', 'Mikel': 'hiperkalemia moderada', 'Jordi': 'Normal', 'Anna': 'Normal', 'Joe': 'hiperkalemia severa'}

In [ ]:
#Temperatura ciudades en DataFrame. A partir de lst_ciudad de las temperaturas de las 
#ciudades de los primeros 4 meses del año del ejercicio 2:
#a) Diseña un código para crear un objeto DataFrame que contenga en sus columnas: 'Ciudad', 
#'Enero', 'Febrero', 'Marzo', 'Abril' y los datos sean los valores de las listas de ciudades de 
#lst_ciudad. Agregar como nombre del DataFrame: 'Temperatura ciudades'. El DataFrame 
#será como:
# Ciudad Enero Febrero Marzo Abril
#0 Londres 3.4 6.3 10.5 6.8
#1 Oslo -3.8 -5.0 5.1 4.2
#2 Berlin 7.5 4.1 12.3 13.0
#3 Málaga 14.7 12.3 19.5 18.4
#b) Escribe un código para agregar la temperatura mínima, máxima, media y desviación 
#estándar de los 4 primeros meses del año al DataFrame anterior. Resultado de la forma:
# Ciudad Enero Febrero Marzo Abril Min Max Media StdDev
#0 Londres 3.4 6.3 10.5 6.8 3.4 10.5 6.750 2.914904
#1 Oslo -3.8 -5.0 5.1 4.2 -5.0 5.1 0.125 5.260783
#2 Berlin 7.5 4.1 12.3 13.0 4.1 13.0 9.225 4.201091
#3 Málaga 14.7 12.3 19.5 18.4 12.3 19.5 16.225 3.326034

In [ ]:
import pandas as pd

lst_ciudad = [['Londres', 3.4, 6.3, 10.5, 6.8], \
 ['Oslo', -3.8, -5.0, 5.1, 4.2], ['Berlin', 7.5, 4.1, 12.3, 13.0], \
 ['Málaga', 14.7, 12.3, 19.5, 18.4]]

df1=pd.DataFrame(lst_ciudad, columns=['Ciudad','Enero','Febrero','Marzo','Abril'])
#print(df)

df2=df1
df2['Min']=df1.min(axis=1)
df3=df2
df3['Max']=df1.max(axis=1)
df4=df3
df4['Std']=df1.std(axis=1)
df5=df4
df5['Media']=df1.mean(axis=1)
#df2['Media']=df.mean(axis=1)
#df2['Std']=df.std(axis=1)
print(df5)

    Ciudad  Enero  Febrero  Marzo  Abril  Media   Std       Max        Min
0  Londres    3.4      6.3   10.5    6.8    3.4  10.5  3.185854   6.297979
1     Oslo   -3.8     -5.0    5.1    4.2   -5.0   5.1  5.177644   0.825378
2   Berlin    7.5      4.1   12.3   13.0    4.1  13.0  4.316480   8.330926
3   Málaga   14.7     12.3   19.5   18.4   12.3  19.5  3.442334  14.306048

<ipython-input-30-9c4fa871e6a4>:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2['Media']=df1.min(axis=1)
<ipython-input-30-9c4fa871e6a4>:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df3['Std']=df1.max(axis=1)
<ipython-input-30-9c4fa871e6a4>:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df4['Max']=df1.std(axis=1)
<ipython-input-30-9c4fa871e6a4>:17: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df5['Min']=df1.mean(axis=1)

In [ ]:
#En este ejercicio se pide que se lea o cargue la base de datos desde heart.csv a un objeto DataFrame
#(por ejemplo, dfCardio) y se presenten los siguientes resultados:
#a) Mostrar las primeras 10 instancias (filas) del DataFrame. 
#b) Calcular el número (conteo) de hombres y mujeres.
#c) Calcular el número (conteo) de casos de angina de pecho inducida (atributo: exang)
#d) Hallar el DataFrame con la estadística descriptiva de la frecuencia cardiaca (thalach)
#e) Hallar un DataFrame que incluya la estadística descriptiva de la presión arterial sistólica en 
#reposo (trestbps) y el colesterol (chol). (ambos en el mismo DataFrame)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

from google.colab import files
uploaded = files.upload()

In [ ]:
df = pd.read_csv('heart.csv')
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [ ]:
from pandas.io.parsers.python_parser import count_empty_vals
m_w = df['sex'].value_counts()
print(m_w,'\n')

ang = df['exang'].value_counts()
print(ang,'\n')

m_a=len(df[(df['sex']==1) & (df['exang']==1)])   #IMPORTANTE

print('MEN with ANGINA: ', m_a, '\n\n')


df['thalach'].describe()

1    207
0     96
Name: sex, dtype: int64

0    204
1     99
Name: exang, dtype: int64

MEN with ANGINA:  77

count    303.000000
mean     149.646865
std       22.905161
min       71.000000
25%      133.500000
50%      153.000000
75%      166.000000
max      202.000000
Name: thalach, dtype: float64

In [ ]:
df2=df[['trestbps','chol']]

#print(df2)
df2.describe()

         trestbps        chol
count  303.000000  303.000000
mean   131.623762  246.264026
std     17.538143   51.830751
min     94.000000  126.000000
25%    120.000000  211.000000
50%    130.000000  240.000000
75%    140.000000  274.500000
max    200.000000  564.000000

In [ ]:
#Base de datos presión arterial en DataFame. Dado un diccionario sobre hipertensión como el del 
#ejemplo en el docstring del ejercicio 4, diseña una función que entre un diccionario donde la clave es
#el nombre de la persona y el valor es una lista con la edad y las presiones sistólica y diastólica (en 
#unidades: mmHg), devuelva un dataFrame que incluya como columnas: 'Nombre', 'Edad', 'Sistólica', 
#'Diastólica' y una última columna calculada, etiquetada 'Diagnóstico', con datos categóricos con 
#valores 'baja', 'normal', 'alta'. La presión arterial 'baja' la definimos así: si la presión sistólica es menor 
#que 90 mmHg o la diastólica menor que 60 mmg. La presión 'alta' sería si la sistólica es mayor o igual 
#a 140 mmHg o la diastólica es mayor o igual a 90 mmHg. En otras condiciones sería 'normal'. Ejemplo 
#de diccionario de entrada y resultado.
#Nota. Se considerará que no habrá casos donde la diferencia entre la presión sistólica y diastólica (presión de 
#pulso) supere los 60 mmHg, es decir, no habrá casos donde simultáneamente se encuentre un paciente con la 
#tensión diastólica menor que la 'baja' y la sistólica mayor que la 'alta'
#dhiper = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], \
# 'Jose': [47, 110, 59], 'Luis': [49, 146, 94], \
# 'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], \
# 'Pepe': [70, 130, 92]}

In [ ]:
import pandas as pd
dhiper = {'Maria': [40, 135, 90],'Nuria': [63, 141, 92], \
 'Jose': [47, 110, 59], 'Luis': [49, 146, 94], \
 'Oriol': [52, 130, 89], 'Carlos': [65, 125, 89], \
 'Pepe': [70, 130, 92]}

#df =pd.DataFrame(dhiper.values() , columns=['Edad','Sistolica','Diastolica'])
#df['Nombre']=dhiper.keys()
#print(df)


def diagnostico(row):
  if row['Sistolica']< 90 or row['Diastolica']<60:
    return 'Baja'
  elif row['Sistolica']>140 or row['Diastolica']>=90:
    return 'Alta'
  else:
    return 'Normal'


def lst_hiper(dicc):
  df =pd.DataFrame( dhiper.values() , columns=['Edad','Sistolica','Diastolica'] )
  df['Nombre']=dhiper.keys()
  print(df)                

  df['Diagnositico']= df.apply(diagnostico, axis=1)      #IMPORTANTE

  return df

   Edad  Sistolica  Diastolica  Nombre
0    40        135          90   Maria
1    63        141          92   Nuria
2    47        110          59    Jose
3    49        146          94    Luis
4    52        130          89   Oriol
5    65        125          89  Carlos
6    70        130          92    Pepe

   Edad  Sistolica  Diastolica  Nombre Diagnositico
0    40        135          90   Maria         Alta
1    63        141          92   Nuria         Alta
2    47        110          59    Jose         Baja
3    49        146          94    Luis         Alta
4    52        130          89   Oriol       Normal
5    65        125          89  Carlos       Normal
6    70        130          92    Pepe         Alta

In [ ]:
lst_hiper(dhiper)