
<img src="img/viu_logo.png" width="200">

## 01MIAR - Estructuras de datos, +Pandas

![logo](img/python_logo.png)

*Ivan Fuertes*

*Benjamin Arroquia Cuadros*

In [1]:
import pandas as pd
import numpy as np

# Operaciones en pandas

#### Búsqueda

In [2]:
# Formas de crear un random 
from numpy.random import MT19937
from numpy.random import RandomState, SeedSequence
rs = RandomState(MT19937(SeedSequence(123456789)))
rs = RandomState(12345)

In [3]:
rand_matrix = rs.randint(6,size=(2,3))
frame = pd.DataFrame(rand_matrix , columns=list('ABC'))
display(frame)

   A  B  C
0  2  5  5
1  1  4  1

In [4]:
# buscando columnas (DataFrame como dic, busca en claves)
'A' in frame

True

In [5]:
# buscando valores
display(frame.isin([3,2])) # --> mask de respuesta (valores que son 3 o 2)

       A      B      C
0   True  False  False
1  False  False  False

In [10]:
# Contar el número de ocurrencias
display(frame)
print(frame.isin([5]).values.sum()) 
display(frame.isin([5])) #devuelve una mask con valores true si el elemento es 4
type(frame.isin([1]).values) # pandas es una capa alrededor de numpy

   A  B  C
0  2  5  5
1  1  4  1

2

       A      B      C
0  False   True   True
1  False  False  False

numpy.ndarray

In [16]:
# Contar el número de ocurrencias
display(frame)
print(frame['B'].sum()) 
display(frame.isin([5])) #devuelve una mask con valores true si el elemento es 4
type(frame.isin([1]).values) # pandas es una capa alrededor de numpy

   A  B  C
0  2  5  5
1  1  4  1

9

       A      B      C
0  False   True   True
1  False  False  False

numpy.ndarray

In [17]:
# Cuántos valores son >= 4
mask = frame >= 4
print(mask.values.sum())
display(mask)

3

       A     B      C
0  False  True   True
1  False  True  False

#### Ordenación

In [18]:
from random import shuffle

rand_matrix = np.random.randint(20,size=(5,4))

indices = list(range(5))
shuffle(indices) # mezcla indices

frame = pd.DataFrame(rand_matrix , columns=list('DACB'), index=indices)
display(frame)

    D   A   C   B
3  18  15  18  13
1   0  10   3   9
2  15  18  17  15
4  10  12  16  14
0  14   5  15  12

In [19]:
# ordenar por índice
display(frame.sort_index(ascending=True))
display(frame)

    D   A   C   B
0  14   5  15  12
1   0  10   3   9
2  15  18  17  15
3  18  15  18  13
4  10  12  16  14

    D   A   C   B
3  18  15  18  13
1   0  10   3   9
2  15  18  17  15
4  10  12  16  14
0  14   5  15  12

In [20]:
#ordenar por columna
display(frame.sort_index(axis=1, ascending=True))

    A   B   C   D
3  15  13  18  18
1  10   9   3   0
2  18  15  17  15
4  12  14  16  10
0   5  12  15  14

In [21]:
# ordenar filas por valor en columna
display(frame.sort_values(by='A', ascending=False))

    D   A   C   B
2  15  18  17  15
3  18  15  18  13
4  10  12  16  14
1   0  10   3   9
0  14   5  15  12

In [22]:
# ordenar columnas por valor en fila
display(frame.sort_values(by=1, axis=1, ascending=True))

    D   C   B   A
3  18  18  13  15
1   0   3   9  10
2  15  17  15  18
4  10  16  14  12
0  14  15  12   5

In [ ]:
# ordenar por valor en columna y guardar cambios
frame.sort_values(by='A', ascending=False, inplace=True)
display(frame)

#### Ranking
- Construir un ranking de valores

In [ ]:
display(frame)

In [ ]:
display(frame.rank(method='average', axis=1))

In [ ]:
# Imprimir, uno a uno, los valores de la columna 'C' de mayor a menor
for x in frame.sort_values(by='C', ascending=False)['C'].values:
    print(x)

# Operaciones

Operaciones matemáticas entre objetos

In [23]:
matrixA = np.random.randint(100,size=(4,4))
matrixB = np.random.randint(100,size=(4,4))
frameA = pd.DataFrame(matrixA)
frameB = pd.DataFrame(matrixB)
display(frameA)
display(frameB)

    0   1   2   3
0  49  30  88  50
1  66  66  99  58
2  75  83  20  90
3  85  99  84  90

    0   1   2   3
0  59  15  47  26
1  17  99  80  78
2  48  73  17  25
3  45  69  19  95

In [24]:
# a través de métodos u operadores
display(frameA + frameB == frameA.add(frameB))
display(frameA + frameB)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

     0    1    2    3
0  108   45  135   76
1   83  165  179  136
2  123  156   37  115
3  130  168  103  185

In [25]:
display(frameB - frameA == frameB.sub(frameA))
display(frameB - frameA)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

    0   1   2   3
0  10 -15 -41 -24
1 -49  33 -19  20
2 -27 -10  -3 -65
3 -40 -30 -65   5

In [26]:
# si los frames no son iguales, valor por defecto NaN
frameC = pd.DataFrame(np.random.randint(100,size=(3,3)))
display(frameA)
display(frameC)
display(frameA - frameC)

    0   1   2   3
0  49  30  88  50
1  66  66  99  58
2  75  83  20  90
3  85  99  84  90

    0   1   2
0   5  75  63
1  11  26  29
2  59  77  51

      0     1     2   3
0  44.0 -45.0  25.0 NaN
1  55.0  40.0  70.0 NaN
2  16.0   6.0 -31.0 NaN
3   NaN   NaN   NaN NaN

In [27]:
# se puede especificar el valor por defecto con el argumento fill_value
display(frameA.sub(frameC, fill_value=0))

      0     1     2     3
0  44.0 -45.0  25.0  50.0
1  55.0  40.0  70.0  58.0
2  16.0   6.0 -31.0  90.0
3  85.0  99.0  84.0  90.0

Operadores aritméticos solo válidos en elementos aceptables

In [29]:
frameD = pd.DataFrame({0: ['a','b'],1:['d','f']})
display(frameD)
frameA - frameD

   0  1
0  a  d
1  b  f

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Operaciones entre Series y DataFrames

In [30]:
rand_matrix = np.random.randint(10, size=(3, 4))
df = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(df)

display(type(df.iloc[0]))
# uso común, averiguar la diferencia entre una fila y el resto
display(df - df.iloc[0])
# Por columnas cómo se restaría
display(df.sub(df['A'], axis=0))

   A  B  C  D
0  9  9  7  6
1  6  0  7  4
2  7  4  8  2

pandas.core.series.Series

   A  B  C  D
0  0  0  0  0
1 -3 -9  0 -2
2 -2 -5  1 -4

   A  B  C  D
0  0  0 -2 -3
1  0 -6  1 -2
2  0 -3  1 -5

pandas se basa en NumPy, np operadores binarios y unarios son aceptables 

| Tipo | Operación | Descripción |
|:---------|:-----|:-----|
| Unario | *abs* | Valor absoluto de cada elemento |
| | *sqrt* | Raíz cuadrada de cada elemento |
| | *exp* | e^x, siendo x cad elemento |
| | *log, log10, log2* | Logaritmos en distintas bases de cada elemento |
| | *sign* | Retorna el signo de cada elemento (-1 para negativo, 0 o 1 para positivo) |
| | *ceil* | Redondea cada elemento por arriba |
| | *floor* | Redondea cada elemento por abajo |
| | *isnan* | Retorna si cada elemento es Nan |
| | *cos, sin, tan* | Operaciones trigonométricas en cada elemento |
| | *arccos, arcsin, arctan* | Inversas de operaciones trigonométricas en cada elemento |
| Binario | *add* | Suma de dos arrays |
| | *substract* | Resta de dos arrays |
| | *multiply* | Multiplicación de dos arrays |
| | *divide* | División de dos arrays |
| | *maximum, minimum* | Retorna el valor máximo/mínimo de cada pareja de elementos |
| | *equal, not_equal* | Retorna la comparación (igual o no igual) de cada pareja de elementos |
| | *greater, greater_equal, less, less_equal* | Retorna la comparación (>, >=, <, <= respectivamente) de cada pareja de elementos |

## Aplicación de funciones a medida con lambda

In [31]:
rand_matrix = np.random.randint(20, size=(10, 2))
df = pd.DataFrame(rand_matrix , columns=list('AB'))
display(df)
print(df.apply(lambda x : x.max() - x.min())) # diferencia por columna
display(df.max(axis=0) - df.min(axis=0))

    A   B
0   7   1
1  15   5
2   1  13
3  10   3
4   1   4
5  13  13
6   4  15
7  19   8
8  13   3
9   6  13

A    18
B    14
dtype: int64

A    18
B    14
dtype: int32

In [ ]:
# diferencia entre min y max por fila (no columna)
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min(), axis = 1)) # diferencia por fila

In [ ]:
# Rolling opera sobre una secuencia en una ventana 
# Muy utilizado en series temporales para cálculo de media móvil
df["C"] = df["A"].rolling(window=3, center=False, min_periods=2).mean()
df

Optimización de funciones personalizadas con C y Numba:
- https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html

# Estadística descriptiva
- Análisis preliminar de los datos
- Para Series y DataFrame

| Operación | Descripción |
|:----------|:------------|
| count | Número de valores no NaN |
| describe | Conjunto de estadísticas sumarias|
| min, max | Valores mínimo y máximo |
| argmin, argmax | Índices posicionales del valor mínimo y máximo |
| idxmin, idxmax | Índices semánticos del valor mínimo y máximo |
| sum | Suma de los elementos |
| mean | Media de los elementos |
| median | Mediana de los elementos |
| mad | Desviación absoluta media del valor medio |
| var | Varianza de los elementos |
| std | Desviación estándar de los elementos |
| cumsum | Suma acumulada de los elementos |
| diff | Diferencia aritmética de los elementos |

In [32]:
diccionario = { "nombre" : ["Marisa","Laura","Manuel", "Carlos"], "edad" : [34,34,11, 30], 
               "puntos" : [98,12,98,np.nan], "genero": ["F", "F", "M", "M"] }
frame = pd.DataFrame(diccionario)
display(frame)
display(frame.describe(include='all')) # datos generales de elementos

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

        nombre       edad     puntos genero
count        4   4.000000   3.000000      4
unique       4        NaN        NaN      2
top     Marisa        NaN        NaN      F
freq         1        NaN        NaN      2
mean       NaN  27.250000  69.333333    NaN
std        NaN  10.996211  49.652123    NaN
min        NaN  11.000000  12.000000    NaN
25%        NaN  25.250000  55.000000    NaN
50%        NaN  32.000000  98.000000    NaN
75%        NaN  34.000000  98.000000    NaN
max        NaN  34.000000  98.000000    NaN

In [33]:
print(type(frame['edad']))

<class 'pandas.core.series.Series'>

In [34]:
# operadores básicos
print(frame.sum())
print(frame.sum(axis=1, numeric_only=True))

nombre    MarisaLauraManuelCarlos
edad                          109
puntos                      208.0
genero                       FFMM
dtype: object
0    132.0
1     46.0
2    109.0
3     30.0
dtype: float64

In [40]:
frame.mean(numeric_only=True)

edad      27.250000
puntos    69.333333
dtype: float64

In [41]:
frame.cumsum()

                    nombre  edad  puntos genero
0                   Marisa    34    98.0      F
1              MarisaLaura    68   110.0     FF
2        MarisaLauraManuel    79   208.0    FFM
3  MarisaLauraManuelCarlos   109     NaN   FFMM

In [42]:
frame.count()

nombre    4
edad      4
puntos    3
genero    4
dtype: int64

In [ ]:
frame['edad'].std()

In [ ]:
frame['edad'].idxmax()

In [ ]:
frame['puntos'].idxmin()

In [43]:
# frame con las filas con los valores maximos de una columna   #filtro
print(frame['puntos'].max())
display(frame[frame['puntos'] == frame['puntos'].max()])

98.0

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
2  Manuel    11    98.0      M

## Agregaciones

In [44]:
display(frame)
frame.groupby('genero').count()

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

        nombre  edad  puntos
genero
F            2     2       2
M            2     2       1

In [45]:
display(frame.groupby('genero').mean())

C:\Users\msi15\AppData\Local\Temp\ipykernel_15872\2899754616.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  display(frame.groupby('genero').mean())

        edad  puntos
genero
F       34.0    55.0
M       20.5    98.0

In [46]:
display(frame.groupby('genero').max())

        nombre  edad  puntos
genero
F       Marisa    34    98.0
M       Manuel    30    98.0

In [47]:
# funciones de agregación de varias columnas para obtener distintos estadísticos
display(frame.groupby('genero')[['edad', 'puntos']].aggregate(['min', np.median, max]))

       edad            puntos
        min median max    min median   max
genero
F        34   34.0  34   12.0   55.0  98.0
M        11   20.5  30   98.0   98.0  98.0

In [ ]:
# seleccionar las columnas y operación
display(frame.groupby('genero').aggregate({
    'edad': 'sum',
    'puntos': 'mean'
}))

# seleccionar las columnas y operación
display(frame.groupby('genero').aggregate(
    maximo_edad=pd.NamedAgg(column="edad", aggfunc="max"),
))

In [ ]:
# Filtrado de los datos en el que el conjunto no supera una media determinada 
def media(x):
    return x["edad"].mean() > 30

display(frame)
frame.groupby('genero').filter(media)

## Correlaciones

pandas incluye métodos para analizar correlaciones
- Relación matemática entre dos variables (-1 negativamente relacionadas, 1 positivamente relacionadas, 0 sin relación)
- obj.corr(obj2) --> medida de correlación entre los datos de ambos objetos
- https://blogs.oracle.com/ai-and-datascience/post/introduction-to-correlation

### Ejemplo Fuel efficiency
- https://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [ ]:
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?')

In [ ]:
display(mpg_data.sample(5))

In [ ]:
display(mpg_data.describe(include='all'))

In [ ]:
mpg_data.info()

### Correlaciones entre valores

In [ ]:
mpg_data['mpg'].corr(mpg_data['peso']) # + mpg = - peso

In [ ]:
mpg_data['peso'].corr(mpg_data['aceleracion']) # + peso = - aceleracion

### Correlaciones entre todos los valores

In [ ]:
mpg_data.corr(numeric_only=True)

In [ ]:
#año y origen no parecen correlacionables
#eliminar columnas de la correlacion
corr_data = mpg_data.drop(['año','origen'],axis=1).corr(numeric_only=True)
display(corr_data)

In [ ]:
# representación gráfica matplotlib
import matplotlib.pyplot as plt

In [ ]:
# representación gráfica
corr_data.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)

In [ ]:
# correlación más negativa
mpg_data.drop(['año','origen'],axis=1).corr(numeric_only=True).idxmin()

In [ ]:
# correlación más positiva
mpg_data.drop(['año','origen'],axis=1).corr(numeric_only=True).idxmax()  #consigo misma....

In [ ]:
# tabla similar con las correlaciones más positivas (evitar parejas del mismo valor)
positive_corr = mpg_data.drop(['año','origen'],axis=1).corr()
np.fill_diagonal(positive_corr.values, 0)
display(positive_corr)
positive_corr.idxmax()

In [ ]:
positive_corr.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1, vmin=-1.0, vmax=1.0)