In [1]:
#Aplicar una función a una columna de un DataFrame y crear una nueva columna con los resultados.

import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)
df['Edad_doble'] = df['Edad'].apply(lambda x: x * 2)
print(df)

  Nombre  Edad  Edad_doble
0   Juan    25          50
1  María    30          60
2  Pedro    35          70

In [ ]:
#Ordenar un DataFrame por una columna en orden descendente
import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)
df_sorted = df.sort_values('Edad', ascending=False)
print(df_sorted)

In [ ]:
#Realizar una operación de agregación, como obtener la media de una columna en un DataFrame.
import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)
mean_age = df['Edad'].mean()
print(mean_age)

In [1]:
# Realizar un join entre dos DataFrames basado en una columna común.
import pandas as pd

data1 = {'Nombre': ['Juan', 'María', 'Pedro'],
         'Edad': [25, 30, 35]}
data2 = {'Nombre': ['María', 'Pedro', 'Laura'],
         'Ciudad': ['Madrid', 'Barcelona', 'Valencia']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged_df = pd.merge(df1, df2, on='Nombre')
print(merged_df)

  Nombre  Edad     Ciudad
0  María    30     Madrid
1  Pedro    35  Barcelona

In [ ]:
 #Filtrar filas de un DataFrame que cumplan una condición específica.
import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)
filtered_df = df[df['Edad'] > 28]
print(filtered_df)

In [ ]:
#Agrupar un DataFrame por una columna y realizar una operación de agregación en otra columna.

import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro', 'Laura'],
        'Edad': [25, 30, 35, 30],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Barcelona']}
df = pd.DataFrame(data)
grouped_df = df.groupby('Ciudad')['Edad

In [ ]:
#Aplicar una función lambda a una columna de un DataFrame y crear una nueva columna con los resultados.
import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)
df['Edad_doble'] = df['Edad'].apply(lambda x: x * 2)
print(df)

In [ ]:
#Ejercicio 2: Filtrar filas de un DataFrame utilizando una función lambda en lugar de una condición directa.

import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)
filtered_df = df[df['Nombre'].apply(lambda x: len(x) > 4)]
print(filtered_df)

In [ ]:
#Ejercicio 3: Aplicar una función lambda a una columna de un DataFrame y reemplazar los valores originales con los resultados.

import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)
df['Nombre'] = df['Nombre'].apply(lambda x: x.upper())
print(df)

In [ ]:
#Ejercicio 4: Crear una nueva columna en un DataFrame utilizando una función lambda y múltiples columnas existentes.

import pandas as pd

data = {'Nombre': ['Juan', 'María', 'Pedro'],
        'Edad': [25, 30, 35]}
df = pd.DataFrame(data)
df['Nombre_edad'] = df.apply(lambda row: row['Nombre'] + ' (' + str(row['Edad']) + ')', axis=1)
print(df)

In [ ]:
#Ejercicio 5: Aplicar una función lambda a una Serie y crear una nueva Serie con los resultados.
import pandas as pd

series = pd.Series([1, 2, 3, 4, 5])
new_series = series.apply(lambda x: x ** 2)
print(new_series)