In [25]:
import pandas as pd
import os
import numpy as np

# Ruta relativa al archivo
ruta_archivo = os.path.join('data', 'Tomas.csv')

# Obtener la ruta del directorio actual del cuaderno
directorio = os.getcwd()

# Combinar la ruta del directorio actual con la ruta relativa al archivo
ruta_absoluta = os.path.join(directorio, ruta_archivo)

df=pd.read_csv(ruta_absoluta, delimiter=';', index_col=0)
print(df)

      1  2  3  4  5  6  7  8  9  10
Toma
1     1  1  1  1  1  0  0  0  0   0
2     0  0  1  1  1  0  0  0  0   0
3     0  1  0  0  1  0  1  0  0   0
4     1  1  0  0  0  0  1  1  0   0
5     0  1  0  1  0  0  0  1  0   0
6     1  1  0  1  1  0  0  0  0   0
7     1  1  0  1  1  0  0  0  0   0
8     1  1  0  0  0  1  0  0  0   0
9     1  1  0  1  0  0  0  0  0   0
10    1  1  0  0  0  1  0  0  1   0
11    1  1  1  0  1  0  0  1  0   0
12    1  1  1  1  0  1  0  0  0   0
13    1  0  0  1  1  0  0  0  0   0
14    1  0  1  0  0  1  0  0  0   0
15    1  1  0  0  0  0  1  0  0   0
16    0  0  0  1  0  0  0  0  0   1
17    1  0  1  0  0  0  0  0  0   0
18    0  0  1  0  0  1  0  0  0   0
19    1  0  1  0  0  0  0  0  0   0
20    1  0  1  1  1  0  0  0  0   0
21    0  0  0  0  0  1  0  1  0   0
22    1  1  1  1  0  0  0  0  0   0
23    1  0  1  0  0  0  0  0  0   0
24    0  0  1  0  0  1  0  0  0   0
25    1  1  0  1  0  0  0  0  0   1
26    1  0  1  0  1  0  0  0  1   0
27    0  0  0  1  1  0  0  0  0   0
28    1  0  0  1  0  0  0  0  0   0
29    1  0  0  0  1  1  0  0  0   0
30    1  0  0  1  0  0  0  0  0   0

In [26]:
df2=pd.DataFrame()
df2['Total_Actores'] = df[list(df.columns)].sum(axis=1)
df2.head()

      Total_Actores
Toma
1                 5
2                 3
3                 3
4                 4
5                 3

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1 to 30
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       30 non-null     int64
 1   2       30 non-null     int64
 2   3       30 non-null     int64
 3   4       30 non-null     int64
 4   5       30 non-null     int64
 5   6       30 non-null     int64
 6   7       30 non-null     int64
 7   8       30 non-null     int64
 8   9       30 non-null     int64
 9   10      30 non-null     int64
dtypes: int64(10)
memory usage: 2.6 KB

In [56]:
def coste (grupos, costes):
    
    coste =0
    print('grupos es:\n', grupos)
    
    for g in grupos:
        print(f'Grupo {g}')
        actores=np.sum(g, axis=0)
        dias = np.ceil(np.sum(actores)/6)
        coste+=dias
        
    return coste

def mejor_grupo_recursivo( index, actores, costes, memo):
        
        if index==len(actores):
            return [], 0
        
        if index in memo:
            return memo[index]
        
        grupos=None
        coste=np.inf
        
        for i in range(index, len(actores)):
            
            actor= actores[i]
            coste= costes [i]
            #print(actor, coste)
            
            
            grupos_restantes , coste_restante = mejor_grupo_recursivo(i+1, actores, costes, memo)
            
            grupos_actuales= [actor] + grupos_restantes
            coste_actual= coste+ coste_restante
            
            if grupos is None or coste_actual <coste:
                
                coste= coste_actual
                grupos= grupos_actuales
                
            memo[index]=(grupos , coste )
            
            return grupos , coste
        
        
        
def mejor_grupo(actores,costes):
       
    memo={}
        
    grupos, coste= mejor_grupo_recursivo(0,actores, costes, memo)
    #print(memo)
        
    return grupos

In [61]:
actores = df.values.tolist()
costes =df2.values.tolist()
#print(actores,cost)
actores_np=np.array(actores)
costes_np=np.array(costes)

a =mejor_grupo(actores_np,costes_np)
print(a)

for i, grupo in enumerate(a):
    print(f'Grupo{i+1}: {grupo}')

[array([1, 1, 1, 1, 1, 0, 0, 0, 0, 0]), array([0, 0, 1, 1, 1, 0, 0, 0, 0, 0]), array([0, 1, 0, 0, 1, 0, 1, 0, 0, 0]), array([1, 1, 0, 0, 0, 0, 1, 1, 0, 0]), array([0, 1, 0, 1, 0, 0, 0, 1, 0, 0]), array([1, 1, 0, 1, 1, 0, 0, 0, 0, 0]), array([1, 1, 0, 1, 1, 0, 0, 0, 0, 0]), array([1, 1, 0, 0, 0, 1, 0, 0, 0, 0]), array([1, 1, 0, 1, 0, 0, 0, 0, 0, 0]), array([1, 1, 0, 0, 0, 1, 0, 0, 1, 0]), array([1, 1, 1, 0, 1, 0, 0, 1, 0, 0]), array([1, 1, 1, 1, 0, 1, 0, 0, 0, 0]), array([1, 0, 0, 1, 1, 0, 0, 0, 0, 0]), array([1, 0, 1, 0, 0, 1, 0, 0, 0, 0]), array([1, 1, 0, 0, 0, 0, 1, 0, 0, 0]), array([0, 0, 0, 1, 0, 0, 0, 0, 0, 1]), array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0]), array([0, 0, 1, 0, 0, 1, 0, 0, 0, 0]), array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0]), array([1, 0, 1, 1, 1, 0, 0, 0, 0, 0]), array([0, 0, 0, 0, 0, 1, 0, 1, 0, 0]), array([1, 1, 1, 1, 0, 0, 0, 0, 0, 0]), array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0]), array([0, 0, 1, 0, 0, 1, 0, 0, 0, 0]), array([1, 1, 0, 1, 0, 0, 0, 0, 0, 1]), array([1, 0, 1, 0, 1, 0, 0, 0, 1, 0]), array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0]), array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0]), array([1, 0, 0, 0, 1, 1, 0, 0, 0, 0]), array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0])]
Grupo1: [1 1 1 1 1 0 0 0 0 0]
Grupo2: [0 0 1 1 1 0 0 0 0 0]
Grupo3: [0 1 0 0 1 0 1 0 0 0]
Grupo4: [1 1 0 0 0 0 1 1 0 0]
Grupo5: [0 1 0 1 0 0 0 1 0 0]
Grupo6: [1 1 0 1 1 0 0 0 0 0]
Grupo7: [1 1 0 1 1 0 0 0 0 0]
Grupo8: [1 1 0 0 0 1 0 0 0 0]
Grupo9: [1 1 0 1 0 0 0 0 0 0]
Grupo10: [1 1 0 0 0 1 0 0 1 0]
Grupo11: [1 1 1 0 1 0 0 1 0 0]
Grupo12: [1 1 1 1 0 1 0 0 0 0]
Grupo13: [1 0 0 1 1 0 0 0 0 0]
Grupo14: [1 0 1 0 0 1 0 0 0 0]
Grupo15: [1 1 0 0 0 0 1 0 0 0]
Grupo16: [0 0 0 1 0 0 0 0 0 1]
Grupo17: [1 0 1 0 0 0 0 0 0 0]
Grupo18: [0 0 1 0 0 1 0 0 0 0]
Grupo19: [1 0 1 0 0 0 0 0 0 0]
Grupo20: [1 0 1 1 1 0 0 0 0 0]
Grupo21: [0 0 0 0 0 1 0 1 0 0]
Grupo22: [1 1 1 1 0 0 0 0 0 0]
Grupo23: [1 0 1 0 0 0 0 0 0 0]
Grupo24: [0 0 1 0 0 1 0 0 0 0]
Grupo25: [1 1 0 1 0 0 0 0 0 1]
Grupo26: [1 0 1 0 1 0 0 0 1 0]
Grupo27: [0 0 0 1 1 0 0 0 0 0]
Grupo28: [1 0 0 1 0 0 0 0 0 0]
Grupo29: [1 0 0 0 1 1 0 0 0 0]
Grupo30: [1 0 0 1 0 0 0 0 0 0]