# Examen Segunda Convocatoria

In [1]:
# Your imports HERE !!!!
import pandas as pd
import numpy as np

## 01 - 1pt
- Crear una función que devuelva si un año es bisiesto o no
- Un año es bisiesto si es divisible entre 4, excepto aquellos divisibles entre 100 pero no entre 400

In [4]:
leaps = [year for year in range(0, 2021) if is_leap(year)]  # This calls your function is_leap
assert(len(leaps) == 491)  # This will fail if the number of leap years from year 0 is not 491

In [3]:
# Your solution HERE !!!!


def is_leap(year):
    years=[]
    
    #for i in range(2021):
        #print(i)
    if not year % 4 and (year % 100 or not year % 400):
            #years.append(i)
        return True
    
         
    #print(len(years))

## 02 - 1pt
- Resolución de dos sistemas de ecuaciones
    - $ A : \begin{cases} x +  2y = 14 \\ -3y + 11x = 4                         \end{cases}$
    
    - $ B : \begin{cases} -4z + 2y = 5 \\ 2y + z = -12 \\ -x -2z + 2y = -2 \end{cases}$
- Verifica por código los resultados

In [5]:
# Your solution HERE !!!!
A1 = np.array([[1, 2], [11, -3]])
As = np.array([14, 4])
sol1 = np.linalg.solve(A1,As)

print(sol1)



B1 = np.array([[0, 2, -4], [0, 2, 1], [-1, 2, -2]])
Bs = np.array([5, -12, -2])
sol2 = np.linalg.solve(B1,Bs)

print(sol2)

[2. 6.]
[ 0.2 -4.3 -3.4]

## 03 - 1pt
- Dadas dos Series de Pandas, implementar una función 'find_not_common' para encontrar los elementos no comunes a ambas Series

In [7]:
p1 = pd.Series([2, 4, 12, 6, 8, 10])
p2 = pd.Series([8, 10, 12, 10, 14, 2, 16, 10])
expected_not_common = pd.Series([4, 6, 14, 16])
print(expected_not_common)
not_common = find_not_common(p1, p2)  # This calls tour function find_not_common
assert(not_common.equals(expected_not_common)) # This fails if the result is not as expected

0     4
1     6
2    14
3    16
dtype: int64
Int64Index([1, 2, 6, 7], dtype='int64')
Int64Index([0, 1, 2, 3], dtype='int64')

In [8]:
# Your solution HERE !!!!

def find_not_common(p1,p2):
    union = pd.Series(np.union1d(p1, p2))
  
    # intersection of the series
    intersect = pd.Series(np.intersect1d(p1, p2))

    # uncommon elements in both the series 
    notcommonseries = union[~union.isin(intersect)]
    
    print(notcommonseries.index)
    
    notcommonseries.index = [0,1,2,3]
    print(notcommonseries.index)
    return notcommonseries
    

find_not_common(p1,p2)

Int64Index([1, 2, 6, 7], dtype='int64')
Int64Index([0, 1, 2, 3], dtype='int64')

0     4
1     6
2    14
3    16
dtype: int64

## 04 - 1pt
- Crear un array de NumPy de dimensiones 6x4, con números enteros aleatorios en el rango [-20, 20]
- Reemplazar todos los valores impares por 1, y todos los valores pares positivos por 0, y los pares negativos por Nan
- Averiguar cuantos elementos tienen Nan por fila

In [9]:
# Your solution HERE !!!!

matriz = np.random.randint(-20, 21, size=(6, 4))
print(matriz, '\n')

# Reemplaza los valores impares por 1
matriz = np.where(matriz% 2 != 0, 1, matriz)
print(matriz,'\n')

# Reemplaza los valores pares positivos por 0
matriz = np.where((matriz % 2 == 0) &( matriz > 0), 0, matriz)
print(matriz,'\n')

# Reemplaza los valores pares negativos por Nan
matriz = np.where((matriz % 2 == 0) &( matriz < 0), np.nan, matriz)
print(matriz,'\n')

# Averigua cuántos elementos tienen NaN por fila
elementos_nan_por_fila = np.sum(np.isnan(matriz), axis=1)


# Imprime la cantidad de elementos NaN por fila
print("\nCantidad de elementos NaN por fila:")
print(elementos_nan_por_fila)

[[ -1 -18  -8  15]
 [ -1  -6  -1  18]
 [-15 -20  16 -11]
 [-11  -2   2  19]
 [ -4  19 -10  -8]
 [  9  11   8   8]]

[[  1 -18  -8   1]
 [  1  -6   1  18]
 [  1 -20  16   1]
 [  1  -2   2   1]
 [ -4   1 -10  -8]
 [  1   1   8   8]]

[[  1 -18  -8   1]
 [  1  -6   1   0]
 [  1 -20   0   1]
 [  1  -2   0   1]
 [ -4   1 -10  -8]
 [  1   1   0   0]]

[[ 1. nan nan  1.]
 [ 1. nan  1.  0.]
 [ 1. nan  0.  1.]
 [ 1. nan  0.  1.]
 [nan  1. nan nan]
 [ 1.  1.  0.  0.]]


Cantidad de elementos NaN por fila:
[2 1 1 1 3 0]

## 05 - 1pt
- Dado un diccionario con una lista de nombres de películas y al año concatenado, crear una función que devuelva un DataFrame con dos columnas:
  - Columna 1, el nombre de la película sin el año
  - Columna 2, el año de la película

In [12]:
movies = {'Name': ["Matrix - 1999", "Cadena Perpetua - 1994", "Parasitos - 2019", "Vengadores, Endgame - 2019", "Interstellar - 2014", 
                   "Django Desencadenado - 2012", "El Padrino - 1972", "El Caballero Oscuro - 2008", "Erase Una Vez En America - 1984", 
                   "El Senyor de los Anillos, La Comunidad del Anillo - 2001"]}
expected_output = pd.DataFrame({'Name':["Matrix", "Cadena Perpetua", "Parasitos", "Vengadores, Endgame", "Interstellar", "Django Desencadenado", 
                                        "El Padrino", "El Caballero Oscuro", "Erase Una Vez En America", "El Senyor de los Anillos, La Comunidad del Anillo"],
                                'Year':["1999", "1994", "2019", "2019", "2014", "2012", "1972", "2008", "1984", "2001"]})
output = extract_year(movies)   # This will call your function extract_year
assert(expected_output.equals(output))  # This will fail if the result is not as expected

['Matrix', 'Cadena Perpetua', 'Parasitos', 'Vengadores, Endgame', 'Interstellar', 'Django Desencadenado', 'El Padrino', 'El Caballero Oscuro', 'Erase Una Vez En America', 'El Senyor de los Anillos, La Comunidad del Anillo']
['1999', '1994', '2019', '2019', '2014', '2012', '1972', '2008', '1984', '2001']

In [11]:
# Your solution HERE !!!!

def extract_year(movies):
    pelis=[]
    años=[]
    #pelis=movies.values.str.split('-',expand=True)[0]
    #print(pelis)
    for cadena in movies.values():
        
        for pelicula in cadena:
            #print(pelicula)
            peli=pelicula.split(' - ')[0]
            año=pelicula.split(' - ')[1]
            pelis.append(peli)
            años.append(año)
            
    print(pelis)
    print(años)
    
    frame = pd.DataFrame()
    frame['Name']=pelis
    frame['Year']=años
    #display(frame)
    return frame


extract_year(movies)

['Matrix', 'Cadena Perpetua', 'Parasitos', 'Vengadores, Endgame', 'Interstellar', 'Django Desencadenado', 'El Padrino', 'El Caballero Oscuro', 'Erase Una Vez En America', 'El Senyor de los Anillos, La Comunidad del Anillo']
['1999', '1994', '2019', '2019', '2014', '2012', '1972', '2008', '1984', '2001']

                                                Name  Year
0                                             Matrix  1999
1                                    Cadena Perpetua  1994
2                                          Parasitos  2019
3                                Vengadores, Endgame  2019
4                                       Interstellar  2014
5                               Django Desencadenado  2012
6                                         El Padrino  1972
7                                El Caballero Oscuro  2008
8                           Erase Una Vez En America  1984
9  El Senyor de los Anillos, La Comunidad del Anillo  2001

## 06 - 3pt
- Se tienen tres datasets, se adjuntan sus datos como diccionarios
  - Students, representa un conjunto de alumnos, con sus nombres, edad y sexo
  - Subjects, un conjunto de asignaturas, con su nombre y el semestre en que se imparten
  - Marks, un conjunto de notas que han obtenido los alumnos en las asignaturas
- Obtener la siguiente información usando Pandas
  - Los nombres del alumno con la peor nota, y en que asignatura ha sido
  - Cuantos alumnos tienen asignaturas aprobadas en el primer semestre
  - La media de edad de los asistentes a la asignatura de Math
  - Formar una palabra con las iniciales de los nombres de los estudiantes ordenados por edad descendente, menores de 50 años
- Representar graficamente
  - Las notas medias de todos los estudiantes por asignatura, agrupando por sexo
  - La densidad bivariable de la edad de los estudiantes frente a sus notas, agrupando por sexo (mostrando los datos de dispersion en la zona central, las curvas de densidad en los ejes)

In [ ]:
students = {'StudentId': [1,2,3,4,5,6], 'Name' : ['Philip','Max','Yamileh','Nathan','Uma','Paula'], 'Age' : [22,31,19,44,39,51], 'Sex' : ['M', 'M', 'F', 'M', 'F', 'F']}
subjects = {'SubjectId': [1,2,3], 'Name': ['Python', 'Math', 'DeepLearning'], 'Semester': [1, 1, 2]}
marks = {'StudentId' : [2,2,1,3,6,4,4,3,2,5], 'SubjectId' : [1,3,1,2,1,2,3,1,2,1], 'Mark': [6,5,8,3,5,1,7,2,4,6]}

In [ ]:
# Your solution HERE !!!!
df_students = pd.DataFrame(students)
df_subj = pd.DataFrame(subjects)
df_marks = pd.DataFrame(marks)

display(df_students)
display(df_subj)
display(df_marks)

## 07 - 1pt
- Escribir una función 'prime_number' que cada vez que se invoque devuelva el siguiente número primo,  empezando por el 2, hasta cualquier número infinito. Usando plain Python, sin ninguna librería.  Primo es aquel número natural mayor que 1, que solo es divisible por 1 y por si mismo.

In [14]:
expected_output = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
g = prime_number()  # This calls your function prime_number
output = [next(g) for n in range(len(expected_output))]
assert(expected_output == output)  # This will fail if the output is not as expected

In [13]:
# Your solution HERE !!!!

def prime_number():
        """ Utiliza una funcion interna para comprobar si n es primo"""
        a=2
        def esPrimo(a):
                if a<= 0:
                        return False
                
                for i in range(2,a):
                        if a % i == 0:
                                return False
                return True

        
        while 1:
                if esPrimo(a):
                        yield a
                a += 1
                
g = prime_number()
#while(1):
    #print(next(g))

## 08 - 1pt
- 100 personas hacen una review de una película, dándole una puntuación de 0.0 a 10.0 a dicha película
- Crear una lista aleatoria con las posibles puntuaciones, es decir, 100 puntuaciones entre 0.0 y 10.0
- Discretizar dichas puntuaciones en 4 categorias [muy mala, mala, buena, excelente], los límites de cada categoría son a libre elección
- Discretizar dichas puntuaciones en 5 categorías distribuidas con rangos homogéneos (similar cantidad de valores en cada categoría)
- Mostrar las categorías creadas y cuantos elementos hay en cada una de ellas

In [ ]:
# Your solution HERE !!!!